* {
    margin:0px;
    padding:0px;
    

}

body {
    background-color:aquamarine;
    text-align:center;
   
    
}

.container {
    height:70vh;
    align-items: center;
    display:flex;
    justify-content:center;
    padding : 1rem;
}

.game {
    height:60vmin;
    width:60vmin;
    display: flex;
    flex-wrap:wrap;
    justify-content:center;
    align-items: center;
    gap: 1.5vmin;
}

.box {
    height:18vmin;
    width:18vmin;
    border-radius: 1rem;
    border:none;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    font-size:8vmin;
    color:brown;
    background-color:bisque;
}
#reset-btn {
    padding:1rem;
    font-size:1.25rem;
    background-color:black;
    color:yellow;


}

#new-btn {

    padding:1rem;
    font-size:1.25rem;
    background-color:black;
    color:yellow;
}

#msg {
    
    color:antiquewhite;
    font-size: 5vmin;
}
#msg2 {
    
    color:rgb(243, 142, 10);
    font-size: 5vmin;
}

.msg-container {
  height: 100vmin;
  display : flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap : 4 rem;


}

.hide {
    display:none;
}
